[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim_nerdtree"]
	path = bundle/vim_nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim_snipmate"]
	path = bundle/vim_snipmate
	url = https://github.com/msanders/snipmate.vim.git
[submodule "bundle/vim_fuzzyfinder"]
	path = bundle/vim_fuzzyfinder
	url = https://github.com/vim-scripts/FuzzyFinder.git
[submodule "bundle/vim_L9"]
	path = bundle/vim_L9
	url = https://github.com/vim-scripts/L9.git
